# API URL - Backend endpoint
# For production, set at build time
VITE_API_URL=http://localhost:5000/api

# Video de prueba para la simulación de notificaciones
VITE_TEST_VIDEO_URL=https://pub-b427795ae75b44378dc29f8db291966b.r2.dev/DeerDoorbell.mp4
